<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LMS - {{ title }}</title>
</head>
<body>
    <form method="get">
        <label for="group_name">Group name:</label>
        <input type="text" id="group_name" name="group_name" placeholder="Your group"><br><br>
        <label for="data_start">Start Date:</label>
        <input type="text" id="data_start" name="data_start" placeholder="01/01/1970"><br><br>
        <input type="submit" value="Submit">
    </form>
    <br><br>
    <a href="create/">Create new group</a>
    <table>
    {% for group in groups %}
    <tr>
        <td> {{ group.pk }}</td>
        <td> {{ group.name_group }}</td>
        <td><a href="update/{{ group.pk }}">EDIT</a></td>
        <td><a href="detail/{{ group.pk }}">DETAIL</a></td>
        <br>
    </tr>
    {% endfor %}
    </table>
</body>
</html>