{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}}
{%block content %}
    <form method="get">
        <label for="name">Teacher name:</label>
        <input type="text" id="name" name="name" placeholder="teacher name"><br><br>
        <label for="surname">Teacher surname:</label>
        <input type="text" id="surname" name="surname" placeholder="teacher surname"><br><br>
        <label for="start_date_of_work">Start Date:</label>
        <input type="text" id="start_date_of_work" name="start_date_of_work" placeholder="01/01/1970"><br><br>
        <input type="submit" value="Submit">
    </form>
    <br><br>
    <a href="{% url 'teachers:create' %}">Create new teacher</a>
    <table>
    {% for teacher in teachers %}
    <tr>
        <td> {{ teacher.pk }}</td>
        <td> {{ teacher.name }}</td>
        <td> {{ teacher.surname }}</td>
        <td><a href="{% url 'teachers:update' teacher.id %}">EDIT</a></td>
        <td><a href="{% url 'teachers:detail' teacher.id %}">DETAIL</a></td>
        <td><a href="{% url 'teachers:delete' teacher.id %}">DELETE</a></td>
        <br>
    </tr>
    {% endfor %}
    </table>
{% endblock %}}